---
const game = Astro.props;
const link = game.slug ? "/gameclub/games/" + game.slug : "#";
---

<div class="projcard projcard-blue">
    <a href={link}>
        <div class="projcard-innerbox">
            <img class="projcard-img" src={game.data.imageUrl} />
            <div class="projcard-textbox">
                <div class="projcard-title">{game.data.title}</div>
                <div class="projcard-subtitle">{game.data.subtitle}</div>
                <div class="projcard-bar"></div>
                <div class="projcard-description">{game.data.description}</div>
                <div class="projcard-tagbox">
                    {game.data.tags && game.data.tags.map(tag => <span class="projcard-tag">{tag}</span>)}
                </div>
            </div>
        </div>
    </a>
</div>
